/*bluecolorクラスのものだけ装飾*/
.bluecolor{
    color:blue;
}
/*h1ダグの中でもyamasakiというid
のやつだけを装飾*/
h1#yamasaki{
    font-family: impact;
    font-size: 60px;
}

h2{
    color:red !important;
}

h2{
    color:green;
}