h1{
    color: whitesmoke;
    background-color:blue;
    text-align: center;
}

body{
     background-image: url(../images/momiji.jpg);
}

h2{
    color:firebrick;
    text-align: center;
    background-color: burlywood;
}

h3{
    color:green;
}

table{
     background-color: papayawhip;
}

ol{
    background-image: url(../images/ita2.jpg);
}
p{
    color: brown;
}